* {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

body {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 236, 236, 0.432);
}

nav {
    width: 100%;
    display: grid;
}

#menu {
    padding: 10px;
    justify-content: space-between;
}

.nav-item {
    margin: 0;
}

#menu p,
#menu h2 {
    display: grid;
    justify-content: center;
}

.container-buttons {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 5px;
}

.container-buttons button {
    width: auto;
    font-weight: bold;
    padding: 8px 16px;
}


.container-letters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container-footer {
    max-height: 300px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 60px;
    gap: 10px;
}

.container-footer h3,
.container-footer p {
    text-align: center;
}