* {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

body {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 236, 236, 0.432);
}

nav {
    width: 100%;
    display: grid;
}

#menu {
    padding: 10px;
    justify-content: space-between;
}

.nav-item {
    margin: 0;
}

#menu h2 {
    display: grid;
    justify-content: center;
}

.container-buttons {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 5px;
    gap: 10px;
}

.container-buttons button {
    width: auto;
    font-weight: bold;
    padding: 8px 16px;
}


.container-letters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.container-footer {
    max-height: 300px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 60px;
    gap: 10px;
}

.container-footer h3,
.container-footer p {
    text-align: center;
}

.custom-blue {
    background-color: #198754; 
}

.flashcard-container {
    width: 100px;
    height: 150px;
    perspective: 1000px;
    aspect-ratio: 1 / 1.1; 
    cursor: pointer;
}

.flashcard {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}


.flashcard.flipped {
    transform: rotateY(180deg);
}

#flashcard-front, #flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flashcard-back {
    transform: rotateY(180deg);
}

.img-fluid {
    height: 100px;
}