* {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

body {
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    display: grid;
}

#menu {
    padding: 10px;
    justify-content: space-between;
}

.nav-item {
    margin: 0;
}

#menu p,
#menu h2 {
    display: grid;
    justify-content: center;
}


.container-letters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container-footer {
    max-height: 300px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
    gap: 10px;
}

.container-footer h3,
.container-footer p {
    text-align: center;
}